<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<h2>Type and we'll let you know if you have found a palindrome.</h2>

<input type="text" id="js-palindrome" />

<p id="js-result"></p>

<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

<script src="/javascripts/checkPalindrome.js"></script>